services:
  ollama:
    volumes:
      - ollama:/root/.ollama
    container_name: ollama
    pull_policy: always
    tty: true
    restart: unless-stopped
    image: ollama/ollama:${OLLAMA_DOCKER_TAG-latest}

  optimalmd-ai:
    build:
      context: .
      dockerfile: Dockerfile
    image: ghcr.io/open-webui/optimalmd-ai:${WEBUI_DOCKER_TAG-main}
    container_name: optimalmd-ai
    volumes:
      - optimalmd-ai:/app/backend/data
    depends_on:
      - ollama
    ports:
      - ${OPEN_WEBUI_PORT-3000}:8080
    environment:
      - 'OLLAMA_BASE_URL=http://ollama:11434'
      - 'WEBUI_SECRET_KEY='
    extra_hosts:
      - host.docker.internal:host-gateway
    restart: unless-stopped

volumes:
  ollama: {}
  optimalmd-ai: {}
